/* Sticky footer styles
-------------------------------------------------- */
html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 35px;
  padding-bottom: 40px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Layout For Smaller Screens */
img {
  display: block;
  margin: 0 auto 0 auto; /* Centred */
  width: 100%;
}

/* Layout For Larger Screens */
@media screen and (min-width: 40em) {
  img {
    padding: 0 2em 0 2em;
    width: 66.6%;
  }
}

#searchPhrase {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#searchList {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchList li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#searchList li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

td {
  padding: 6px;
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5}
th {
  padding: 8px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  color: black;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border-bottom: 1px solid #bebebe;
  position: fixed;
  top: 0px;
  margin: 0px auto;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #e5e5e5;
}

.footer {
  border-top: 1px solid #bebebe;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #e5e5e5;
}

@media (max-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
    .navbar-header {
        float: none;
        padding: 0;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        padding: 0;
    }
    .navbar-nav>li {
        float: none;
        width: 50%;
        border-top: 1px solid;
        background-color: #e5e5e5;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding-top: 4px;
  margin: 0 -8px 8px;
}
.sidebar-module-inset {
  padding: 8px;
  background-color: #e5e5e5;
  border-radius: 4px;
  border-color: #bebebe;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Custom page CSS
-------------------------------------------------- */

code {
  font-size: 80%;
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #3d3d3b;
}

.nav-link:hover,
.nav-link:focus {
  color: #ffff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #ffff;
}

.nav-link.active::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin-heading {
  margin-bottom: 25px;
  align: center;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="username"] {
  padding: 10px;
  margin-bottom: -1px;
  border-radius: 4px;
}

.form-signin input[type="password"] {
  padding: 4px;
  margin-bottom: -1;
  border-radius: 4px;
}

.f-b {
  color: #999;
  text-align: left;
  padding: 0 10px;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 46px;
}

.footer-widget-social ul {
  text-align: right;
  list-style-type: none;
  margin-bottom: 0;
}

.footer-widget-social ul li {
  display: inline-block;
}

.footer-widget-social a {
  padding: 10px;
  float: right;
}

.footer-widget-social a:hover {
  background-color: #fff;
  color: #353e47;
}

/* Accordian styles */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 4px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 4px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.modal-header, h4, .close {
    background-color: #f9f9f9;
    text-align: center;
    font-size: 15 px;
}
.modal-title, h4, .close {
    background-color: #f9f9f9;
    text-align: center;
    font-size: 15 px;
}
.modal-footer {
    background-color: #f9f9f9;
}
