/* Custom styles for Queens of Goodness */

.text-primary {
  color: #004aad !important; /* Change to your desired hex color */
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {     
/*  background: #ffc909; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 70px;
  color: #004aad;

  --s: 14px; /* control the size*/
  --c1: #ffc908;
  --c2: #ffbc09;
  
  --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s))
    var(--c2);
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

h4.bolder {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.row {
  padding-top: 12px;
}

.logo-table tr {
  border-bottom: 1px solid #004aad;
}

.logo-table td {
  padding-top: 4px;
  padding-bottom: 6px;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;

/*
background:
radial-gradient(circle farthest-side at 0% 50%,#ffc909 23.5%,rgba(40,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,#e6a322 24%,rgba(40,166,17,0) 0)19px 30px,
linear-gradient(#ffc909 14%,rgba(40,166,17,0) 0, rgba(40,166,17,0) 85%,#ffc909 0)0 0,
linear-gradient(150deg,#ffc909 24%,#e6a322 0,#e6a322 26%,rgba(40,166,17,0) 0,rgba(40,166,17,0) 74%,#e6a322 0,#e6a322 76%,#ffc909 0)0 0,
linear-gradient(30deg,#ffc909 24%,#e6a322 0,#e6a322 26%,rgba(40,166,17,0) 0,rgba(40,166,17,0) 74%,#e6a322 0,#e6a322 76%,#ffc909 0)0 0,
linear-gradient(90deg,#e6a322 2%,#ffc909 0,#ffc909 98%,#e6a322 0%)0 0 #ffc909;
background-size: 40px 60px;
*/
}

.footer-link {
  color: #004aad;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #8192fe;
}

.footer-item {
  padding-left: 16px;
  font-size: 18px;
  font-weight: 600;
}

.learn-more {
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  background-color: #004aad;
  color: white;
  border-radius: 4px;
}

.learn-more:hover {
  background-color: #e6a322;
  color: #004aad;
}

.social-links {
  text-align: center;
}

.social-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: translateY(-3px);
    color: #fff;
}

.card {
  background-color: #f1dfc5;
  font-family: 'Roboto Condensed', sans-serif;
  color: #004aad;
  padding: 0px;
}

.card-link:hover  {
  color: #f1dfc5;
}

.card-link {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

.card-header {
  font-size: 22px;
  font-weight: 600;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
}

.card-body ul li {
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.card-img-top {
  width: 100%; 
  height: 250px; 
  object-fit: cover;
  object-position: 25% 50%; 
}

.lt-card {
  background-color: #f1dfc5;
}

.bl-card {
  background-color: #004aad;
  color: white;
}

.tg-card {
  background-color: #e6a322;
}

.b-card {
  background-color: #8192fe;
}

.e-card {
  background-color: #d07ee3;
}

.g-card {
  background-color: #a5d14a;
}

.l-card {
  background-color: #f7c91c;
}

.ps-card {
  background-color: #ff761e;
}

.hs-card {
  background-color: #ff5758;
}

.c-card {
  background-color: #dc7549;
}


.navbar {
  background: #e6a322;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 4px;
  color: #004aad;
} 

.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #004aad;
}

.nav-link:hover, .nav-link:focus {
  color: #f1dfc5;
}

.burger-table {
  text-align: left;
  border-collapse: collapse;
}

.burger-table tr {
  border-bottom: 1px solid #e6a322;
}

.burger-table tbody a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #004aad;
  padding: 20px 10px
  transition: all 0.25s ease-out;
}

.burger-table tbody tr:hover a, tr:focus a {
  color: #ffc909;
  background: #004aad;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,75,173, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: #004aad;
  border-width: 2px;
}

.navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler-icon:focus{
  outline: none!important;
  box-shadow: none;
}

.dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f1dfc5;
  border: none;
  -webkit-border-radius: 5px 5px 5px 5px ;
  -moz-border-radius: 5px 5px 5px 5px ;
  border-radius: 5px 5px 5px 5px ; 
}

.dropdown-item {
  background-color: #f1dfc5;
}

.offcanvas {
  background-color: #e6a322;
} 
  
.cropped-ofc {
  width: 350px; 
  height: 150px; 
  object-fit: cover;
  object-position: 25% 45%; 
}

div.imagetiles { padding: 1px;}
div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{ padding: 5px;}

.img-banner {
  width: 100%; 
  height: 220px; 
  object-fit: cover;
  border-radius: 6px;
}

@media only screen and (min-width: 768px) {
  .img-banner {
    height: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .img-banner {
    height: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .img-banner {
    height: 500px;
  }
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    overflow:hidden;
}

.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.04); /* Safari and Chrome */
    -moz-transform:scale(1.04); /* Firefox */
    -ms-transform:scale(1.04); /* IE 9 */
    -o-transform:translatZ(0) scale(1.04); /* Opera */
    transform:translatZ(0) scale(1.04);
}

.img-center {
  text-align: center; 
  border-radius: 4px;
  max-height: 500px;
  width: 100%; 
  object-fit: cover;
  background-color: f1dfc5;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
  display: inline-block;
  object-fit: cover;
  border-radius: 5px;
}

.overlay-text-ul {
  position: absolute;
  top: 6%;
  left: 8%;
  transform: translate(-8%, -6%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3); /* Transparent background for text */
  padding: 10px;
  border-radius: 5px;
}

.overlay-text-ll {
  position: absolute;
  bottom: 3%;
  left: 10%;
  transform: translate(-10%, -3%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3); /* Transparent background for text */
  padding: 10px;
  border-radius: 5px;
}

.footer {
  border-top: 1px solid #004aad;
  position: absolute;
  bottom: 0; 
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  background-color: #e4ab34;
  font-size: 12px;
} 

