{% extends "layout.html" %}

{% block content %}

<div class="container form-filler">
<form id="confirm_form" class="form-signin" role="form" method="post" action="">
  <center>
  <h3 class="form-signin-heading">{{ title or 'Confirm' }}</h3>
  {{ form.csrf_token }}
  {% from "_macros.html" import render_errors, render_messages %}
  {{ render_errors(form) }}
  {{ render_messages() }}
  {{ form.action(id="action") }}
  {{ form.email(id="email") }}
  {{ form.token(id="token") }}
  <p>
  <i class="fa fa-ticket fa-fw"></i>
  {{ form.code(id="code", placeholder="123456") }}
  </p>
  <button class="btn btn-primary" type="submit"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ title or 'Confirm' }}</button>
  <a href="/resend?action={{ form.action.data }}&email={{ form.email.data }}" class="btn btn-primary" role="button"><i class="fa fa-lock fa-fw"></i>&nbsp;Resend Code</a>
  <p />
  <p>Enter the 6 digit code you received via email, SMS or push notification.</p>
  </center>
</form>
</div>

{% endblock %}
