{% extends "layout.html" %}

{% block content %}

<div class="container">
<form class="form-confirm" role="form" method="post" action="">
  <center>
  <h3 class="form-signin-heading">Confirm</h3>
  {{ form.csrf_token }}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <font color="red">
      <ul class="fa-ul">
      {% for message in messages %}
        <li><i class="fa fa-exclamation-triangle fa-li fa-lg"></i>{{ message }}</li>
      {% endfor %}
      </ul>
      </font>
    {% endif %}
  {% endwith %}
  <p>
  <i class="fa fa-user-o fa-fw"></i>
  {{ form.username(id="username", placeholder="Username or email") }}
  </p>
  <p>
  <i class="fa fa-key fa-fw"></i>
  {{ form.password(id="password", placeholder="Password") }}
  </p>
  <p>
  <i class="fa fa-ticket fa-fw"></i>
  {{ form.token(id="token", placeholder="Token") }}
  </p>
  <button class="btn btn-primary" type="submit"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Confirm</button>
  </center>
</form>
</div>

{% endblock %}
