{% extends "layout.html" %}

{% block content %}

<div class="container form-filler">
<form id="forgot_form" class="form-signin" role="form" method="post" action="">
  <center>
  <h3 class="form-signin-heading">Request Password Reset</h3>
  {{ form.csrf_token }}
  {% from "_macros.html" import render_errors, render_messages %}
  {{ render_errors(form) }}
  {{ render_messages() }}
  <p>
  <i class="fa fa-user fa-fw"></i>
  {{ form.email(id="email", placeholder="Email", title="Email address", type="email", required=True) }}
  </p>
  <button class="btn btn-primary" type="submit"><i class="fa fa-send-o" aria-hidden="true"></i>&nbsp;&nbsp;Request Password Reset</button>
  </center>
  <p />
</form>
</div>

{% endblock %}
