{% extends "layout.html" %}

{% block content %}

<div class="container">
<form id="invite_form" class="form-signin" role="form" method="post" action="">
  <center>
  <h3 class="form-signin-heading">Invite User</h3>
  {{ form.csrf_token }}
  {% from "_macros.html" import render_errors, render_messages %}
  {{ render_errors(form) }}
  {{ render_messages() }}
  <p>
  <i class="fa fa-envelope-o fa-fw"></i>
  {{ form.email(id="email", placeholder="Email") }}
  </p>
  <p>
  <i class="fa fa-phone fa-fw"></i>
  {{ form.phone(id="phone", placeholder="Phone") }}
  </p>
  <p>
  <i class="fa fa-user-o fa-fw"></i>
  {{ form.name(id="name", placeholder="Name", title="Name must be at least 2 characters and may not contain any special characters." ) }}
  </p>
  <button class="btn btn-primary" type="submit"><i class="fa fa-user" aria-hidden="true"></i>&nbspInvite</button>
  </center>
  <br />
  <p>An invitation email and one time code will be sent to the invited user.</p>
</form>
</div>

{% endblock %}
