<!-- Search dialog -->
<script type="text/javascript">
  function searchList(event) {
    var char = event.which || event.keyCode;
    var input = document.getElementById('searchPhrase');
    var filter = input.value.toUpperCase();
    if (char === 13) {
      console.log('search in progress')
      $("#search").modal("hide");
    }
    else {
      var a, i;
      var ul = document.getElementById("searchList");
      var li = ul.getElementsByTagName('li');

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (filter && a.innerHTML.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
  }
</script>

<div id="search" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search</h4>
      </div>
      <div class="modal-body">
        <div>
          <input id="searchPhrase" type="text" onkeyup="searchList(event)" placeholder="Search for recipes.." />
          <ul id="searchList">
            {% if search %}
              {{ search | safe }}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-dark navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}"/><i class="fa fa-snowflake-o" aria-hidden="true"></i></a>
      <a class="navbar-toggle nav-link dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-navicon fa-lg" aria-hidden="true"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
        {% if current_user.is_authenticated %}
          <li><a class="nav-link" href="{{url_for('messages')}}"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Messages</a></li>
          <li><a class="nav-link" href="{{url_for('vault')}}"><i class="fa fa-lock fa-fw" aria-hidden="true"></i> Vault</a></li>
          <li><a class="nav-link" href="{{ url_for('profile') }}"><i class="fa fa-user fa-fw" aria-hidden="true"></i> {{ current_user.get_name() }}</a></li>
          <li><a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Logout</a></li>
        {% else %}
          <li><a class="nav-link" href="{{url_for('register')}}"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Sign Up</a></li>
          <li><a class="nav-link" href="{{url_for('login')}}"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Login</a></li>
        {% endif %}
        </ul>
      <button type="button" class="navbar-toggle nav-link" data-toggle="modal" data-target="#search"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
      <a class="navbar-toggle nav-link" href="{{url_for('gallery')}}"><i class="fa fa-cubes fa-lg" aria-hidden="true"></i></a>
      <a class="navbar-toggle nav-link" href="{{url_for('recipes')}}"><i class="fa fa-cutlery fa-lg" aria-hidden="true"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="mynavbar">
      <!-- buttons visible on full-size screen only -->
      <ul class="nav navbar-nav">
        <li><a class="nav-item nav-link" href="{{url_for('gallery')}}"><i class="fa fa-cubes fa-fw" aria-hidden="true"></i> Gallery</a></li>
        <li><a class="nav-item nav-link" href="{{url_for('recipes')}}"><i class="fa fa-cutlery fa-fw" aria-hidden="true"></i> Recipes</a></li>
        {% if current_user.is_authenticated %}
        <li><a class="nav-item nav-link" href="{{url_for('messages')}}"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Messages</a></li>
        <li><a class="nav-item nav-link" href="{{url_for('vault')}}"><i class="fa fa-lock fa-fw" aria-hidden="true"></i> Vault</a></li>
        {% endif %}
        <li><a class="nav-item nav-link" data-toggle="modal" href="#search"><i class="fa fa-search fa-fw" aria-hidden="true"></i> Search</a></li>
      </ul>
        
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          <li><a class="nav-item nav-link" href="{{ url_for('profile') }}"><i class="fa fa-user fa-fw" aria-hidden="true"></i> {{ current_user.get_name() }}</a></li>
          <li><a class="nav-item nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Logout</a></li>
        {% else %}
          <li><a class="nav-item nav-link" href="{{url_for('register')}}"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Sign Up</a></li>
          <li><a class="nav-item nav-link" href="{{url_for('login')}}"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
