<!-- Search dialog -->
<script type="text/javascript">
  function search() {
    console.log($("#searchPhrase").val());
  }
</script>

<div id="search" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search</h4>
      </div>
      <div class="modal-body">
        <div></div>
          <input id="searchPhrase" type="text"/>
          <button class="btn btn-primary" type="submit"onclick="search()" data-dismiss="modal"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-dark navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed btn-xs" type="button" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
        <i class="fa fa-navicon" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}"/>
        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="nav navbar-nav">
        <li><a class="nav-item nav-link" href="{{url_for('recipes')}}"><i class="fa fa-spoon" aria-hidden="true"></i>&nbsp;Recipes</a></li>
        <li><a class="nav-item nav-link" href="{{url_for('messages')}}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Messages</a></li>
        <li><a class="nav-item nav-link" href="{{url_for('vault')}}"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Vault</a></li>
        {% if current_user.confirmed and current_user.is_authenticated %}
          <li><a class="nav-item nav-link" href="{{ url_for('profile') }}">Profile</a></li>
        {% elif current_user.is_authenticated %}
          <li><a class="nav-item nav-link" href="{{ url_for('confirm') }}">Confirm</a></li>
        {% endif %}
        <li><a class="nav-item nav-link" data-toggle="modal" href="#search"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search</a></li>
      </ul>
        
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          <li><a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a class="nav-item nav-link" href="{{url_for('register')}}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Sign Up</a></li>
          <li><a class="nav-item nav-link" href="{{url_for('login')}}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
