{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h3>
    {% if category %}
      {{ category | safe }}
    {% else %}
      Recipes
    {% endif %}
    </h3>
  </div>
  <div class="row">
    <div class="col-sm-8">
      {% if recipe %}
        {{ recipe | safe }}
      {% else %}
        <h4>Tacos with Guacamole</h4>
<h5><i class="fa fa-list-ul" aria-hidden="true"></i> Ingredients</h5>
<h5>Meat Crumbles</h5>
<ul>
  <li>1 lb ground turkey (85-93% lean)</li>
  <li>2 tbsp olive oil</li>
  <li>&#8531; cup onion, chopped)</li>
  <li>1-2 garlic cloves, pressed</li>
  <li>&frac14; tsp fresh ground black pepper</li>
  <li>1 tsp Sambal Oelek or Chili Garlic Sauce</li>
  <li>&frac12; tsp cumin</li>
  <li>1 tsp oregano</li>
  <li>1-2 tsp chili powder</li>
  <li>1 tsp mesquite seasoning (optional)</li>
</ul>
<h5>Guacamole</h5>
<ul>
  <li>1 avocado</li>
  <li>1 tbsp lemon or lime juice</li>
  <li>2 tbsp Pace picante or other salsa</li>
  <li>&frac14; tsp garlic salt</li>
  <li>1 or 2 fresh tomatoes, diced</li>
  <li>1 tbsp fresh cilantro, diced</li>
</ul>
<h5><i class="fa fa-tasks" aria-hidden="true"></i> Instructions</h5>
<p>
In a large sauce pan, saute onion in olive oil over low heat until translucent. Mix dry spices in mortar or small bowl. Add meat to pan and cook until browned, flipping and chopping to make crumbles. Add dry spices and mix thoroughly to coat meat crumbles. Add garlic and Sambal Oelek or Chili Garlic Sauce, turn off stove heat and mix thoroughly as the pan cools down. </p>
      {% endif %}
    </div><!--/col-sm-8-->
    <div class="col-sm-3 col-sm-offset-1">
      <div class="sidebar-module-inset">
        <button class="accordion">Asian</button>
        <div class="panel">
          <a href="/recipes?recipe=Orange%20Chicken&category=Asian">Orange Chicken</a><br>
          <a href="/recipes?recipe=Sesame%20Chicken&category=Asian">Sesame Chicken</a><br>
          <a href="/recipes?recipe=Szechuan%20Chicken&category=Asian">Szechuan Chicken</a><br>
          <a href="/recipes?recipe=Korean%20Meatballs&category=Asian">Korean Meatballs</a>
        </div>
        <button class="accordion">Breakfast</button>
        <div class="panel">
          <a href="/recipes?recipe=Strawberry%20Pancakes&category=Breakfast">StrawberryPancakes</a><br>
          <a href="/recipes?recipe=Apricot%20Scones&category=Breakfast">Apricot Scones</a><br>
          <a href="/recipes?recipe=Buttermilk%20Waffles&category=Breakfast">Buttermilk Waffles</a><br>
          <a href="/recipes?recipe=Pumpkin%20Waffles&category=Breakfast">Pumpkin Waffles</a><br>
          <a href="/recipes?recipe=Banana%20Muffins&category=Breakfast">Banana Muffins</a><br>
          <a href="/recipes?recipe=Pumpkin%20Muffins&category=Breakfast">Pumpkin Muffins</a><br>
          <a href="/recipes?recipe=Turkey%20Sausage&category=Breakfast">Turkey Sausage</a><br>
        </div>
        <button class="accordion">Dessert</button>
        <div class="panel">
          <a href="/recipes?recipe=Banana%20Bread&category=Dessert">Banana Bread</a><br>
          <a href="/recipes?recipe=Swedish%20Pancakes&category=Dessert">Crepes</a><br>
          <a href="/recipes?recipe=Fudge%20Brownies&category=Dessert">Fudge Brownies</a>
        </div>
        <button class="accordion">Italian</button>
        <div class="panel">
          <a href="/recipes?recipe=Meatball%20Marinara&category=Italian">Meatball Marinara</a><br>
          <a href="/recipes?recipe=Pizza&category=Italian">Pizza</a>
        </div>
        <button class="accordion">Mediterranean</button>
        <div class="panel">
          <a href="/recipes?recipe=Moroccan%20Meatballs&category=Mediterranean">Moroccan Meatballs</a><br>
          <a href="/recipes?recipe=Red%20Lamb&category=Mediterranean">Red Lamb</a><br>
          <a href="/recipes?recipe=Roasted%20Cauliflower&category=Mediterranean">Roasted Cauliflower</a><br>
        </div>
        <button class="accordion">Mexican</button>
        <div class="panel">
          <a href="/recipes?recipe=Tacos%20with%20Guacamole&category=Mexican">Tacos with Guacamole</a><br>
        </div>
        <button class="accordion">Seafood</button>
        <div class="panel">
          <a href="/recipes?recipe=Grilled%20Salmon&category=Seafood">Grilled Salmon</a><br>
          <a href="/recipes?recipe=Cilantro%20Chile%20Lime%20Shrimp&category=Seafood">Chile Lime Shrimp</a><br>
          <a href="/recipes?recipe=Poke%20Bowl&category=Seafood">Poke Bowl</a><br>
          <a href="/recipes?recipe=Salmon%20Patties&category=Seafood">Salmon Patties</a><br>
          <a href="/recipes?recipe=Thai%20Baked%20Salmon&category=Seafood">Thai Baked Salmon</a><br>
          <a href="/recipes?recipe=Thai%20Ginger%20Soyaki%20Salmon&category=Seafood">Thai Ginger Soyaki Salmon</a>
        </div>
        <button class="accordion">Vegetables</button>
        <div class="panel">
          <a href="/recipes?recipe=Ginger%20Carrots&category=Vegetables">Ginger Carrots</a><br>
          <a href="/recipes?recipe=Spicy%20Cilantro%20Carrots&category=Vegetables">Spicy Cilantro Carrots</a><br>
          <a href="/recipes?recipe=Diced%20Potatoes&category=Vegetables">Diced Potatoes</a><br>
          <a href="/recipes?recipe=Sweet%20Potato%20Fries&category=Vegetables">Sweet Potato Fries</a>
        </div>
      </div><!--/siderbar-module-inset-->
    </div><!--/col-sm-3-->
  </div><!--/row-->
</div><!--/container-->

<script>
/**
 * Set up on-click callback for accordian buttons
 */
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}
