{% extends "layout.html" %}

{% block content %}

<div class="container" itemscope itemtype="http://schema.org/Recipe">
  <div class="page-header">
    {% if title %}
      <h3 itemprop="name">
      {{ title | safe }}
      </h3>
    {% else %}
      <h3>New Recipes</h3>
    {% endif %}
  </div>
  {% if recipe %}
    {{ recipe | safe }}
  {% else %}
    <h4>Family Recipes</h4>
    <p>Search or navigate to the best of our family favorite recipes. You won't find anything with bacon or cream, just healthy and delicious with a tendency towards the spicy side of life. Mild red chili powder can be substituted for the hot stuff or left out entirely in most cases and your favorite hot sauce added at the table.</p>
  {% endif %}
</div><!--/container-->

<script>
/**
 * Set up on-click callback for accordion buttons
 */
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}
