{% extends "layout.html" %}

{% block content %}

<div class="container">
<form id="register_form" class="form-signin" role="form" method="post" action="">
  <h3 class="form-signin-heading">Sign Up</h3>
  {{ form.csrf_token }}
  <p>
  <i class="fa fa-user-o fa-fw"></i>
  {{ form.username(id="username", placeholder="Username or email", title="Username must be at least 4 characters and contain only letters, numbers and underscores." ) }}
  </p>
  <p>
  <i class="fa fa-envelope-o fa-fw"></i>
  {{ form.email(id="email", placeholder="Email addess") }}
  </p>
  <p>
  <i class="fa fa-key fa-fw"></i>
  {{ form.password(id="password", placeholder="Password") }}
  </p>
  <p>
  <i class="fa fa-key fa-fw"></i>
  {{ form.confirm(id="confirm", placeholder="Confirm password") }}
  </p>
  <button class="btn btn-primary" type="submit"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Sign Up</button>
  <br><br>
  <p>By signing up, I agree to the <a href="{{url_for('privacy')}}">Privacy Policy and End User Agreement.</a>
  <p>Already have an account? <a class="btn btn-primary btn-xs" href="/login">Login</a></p>
</form>
</div>

{% endblock %}
