{% extends "layout.html" %}

{% block content %}

<div class="container">
<form id="register_form" class="form-signin" role="form" method="post" action="">
  <center>
  <h3 class="form-signin-heading">Sign Up</h3>
  {{ form.csrf_token }}
  {% from "_macros.html" import render_errors, render_messages %}
  {{ render_errors(form) }}
  {{ render_messages() }}
  <p>
  <i class="fa fa-user-o fa-fw"></i>
  {{ form.name(id="name", placeholder="Name", title="Name must be at least 2 characters and may not contain any special characters." ) }}
  </p>
  <p>
  <i class="fa fa-envelope-o fa-fw"></i>
  {{ form.email(id="email", placeholder="Email") }}
  </p>
  <p>
  <i class="fa fa-phone fa-fw"></i>
  {{ form.phone(id="phone", placeholder="Phone") }}
  </p>
  <p>
  <i class="fa fa-key fa-fw"></i>
  {{ form.password(id="password", placeholder="Password") }}
  </p>
  <p>
  <i class="fa fa-key fa-fw"></i>
  {{ form.confirm(id="confirm", placeholder="Confirm password") }}
  </p>
  <p>
  <i class="fa fa-ticket fa-fw"></i>
  {{ form.token(id="token", placeholder="Token") }}
  </p>
  </center>
  <button class="btn btn-primary" type="submit"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Sign Up</button>
  <br><br>
  <p>By signing up, I agree to the <a href="{{url_for('privacy')}}">Privacy Policy and End User Agreement.</a>
  <p>Already have an account? <a class="btn btn-primary btn-xs" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a></p>
</form>
</div>

{% endblock %}
