{% extends "layout.html" %}

{% block content %}

<div class="container">
<form id="reset_form" class="form-signin" role="form" method="post" action="">
  <center>
  <h3 class="form-signin-heading">Reset Password</h3>
  {{ form.csrf_token }}
  {% from "_macros.html" import render_errors, render_messages %}
  {{ render_errors(form) }}
  {{ render_messages() }}
  <p>
  <i class="fa fa-key fa-fw"></i>
  {{ form.password(id="password", placeholder="Temporary Password") }}
  </p>
  <p>
  <i class="fa fa-ticket fa-fw"></i>
  {{ form.token(id="token", placeholder="Token") }}
  </p>
  <button class="btn btn-primary" type="submit"><i class="fa fa-retweet" aria-hidden="true"></i>&nbsp;&nbsp;Reset Password</button>
  <br /><br />
  </center>
  <br />
  <p>Request a password reset.</p>
</form>
</div>

{% endblock %}
