{% extends "layout.html" %}

{% block content %}

<div class="container form-filler">
<form id="resend_form" class="form-signin" role="form" method="post" action="">
  <center>
  <h3 class="form-signin-heading">Request New Code</h3>
  {{ form.csrf_token }}
  {% from "_macros.html" import render_errors, render_messages %}
  {{ render_errors(form) }}
  {{ render_messages() }}
  <p>
  <i class="fa fa-envelope-o fa-fw"></i>
  {{ form.email(id="email", placeholder="Email", title="Email address", type="email", required=True) }}
  </p>
  <p>or</p>
  <p>
  <i class="fa fa-phone fa-fw"></i>
  {{ form.phone(id="phone", placeholder="Phone", title="Mobile phone number to receive 2FA codes.", type="tel") }}
  </p>
  <p />
  <button class="btn btn-primary" type="submit"><i class="fa fa-send-o" aria-hidden="true"></i>&nbsp;&nbsp;Send Code</button>
  </center>
</form>
</div>
{% endblock %}
