{% extends "layout.html" %}

{% block content %}

<div class="container form-filler">
<form id="upload_form" class="form-signin" role="form" method="post" action="" enctype=multipart/form-data>
  <center>
  <h3 class="form-signin-heading">Upload Image</h3>
  {{ form.csrf_token }}
  {% from "_macros.html" import render_errors, render_messages %}
  {{ render_errors(form) }}
  {{ render_messages() }}
  <p>
  <i class="fa fa-file-image-o fa-fw"></i>
  {{ form.file(id="file", placeholder="Filename", style="display:none;") }}
  <input type="button" class="btn btn-primary" value="Select File" onclick="document.getElementById('file').click();" />
  </p>
  <p>
  <i class="fa fa-pencil fa-fw"></i>
  {{ form.title(id="title", placeholder="Name") }}
  </p>
  <p>
  <i class="fa fa-paint-brush fa-fw"></i>
  {{ form.artform(id="artform", placeholder="Oil on canvas") }}
  </p>
  <p>
  <i class="fa fa-calendar fa-fw"></i>
  {{ form.created(id="created", type="date", placeholder="Date") }}
  </p>
  <p>
  <i class="fa fa-arrows fa-fw"></i>
  {{ form.dimensions(id="dimensions", placeholder="18 x 24 inches") }}
  </p>
  <p>
  <i class="fa fa-tags fa-fw"></i>
  {{ form.tags(id="tags", placeholder="tags") }}
  </p>
  <p />
  <button class="btn btn-primary" type="submit"><i class="fa fa-upload fa-fw" aria-hidden="true"></i>&nbsp;Upload</button>
  </center>
  <hr />
  <p class="form-info">Select a JPG, PNG or GIF file containing the visual artwork along with the medium, date, dimensions and any searchable tags.</p>
</form>
</div>

{% endblock %}
