{% extends "layout.html" %}

{% block content %}

<script src="{{url_for('static', filename='js/vault.js')}}" type="text/javascript"></script>

<div class="container">
  <div class="page-header">
    <h3>Vault</h3>
  </div>

  <!-- Modal -->
  <div id="viewVault" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Unlock Vault</h4>
        </div>
        <div class="modal-body">
          <div>Enter Password:</div>
            <input id="vpassword" type="password" autocomplete="current-password"/>
            <input id="vbox" type="hidden" value="""/>
            <button class="btn btn-primary" type="submit" onclick="viewVault()" data-dismiss="modal"><i class="fa fa-unlock" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {% if mcf %}
      {{ mcf | safe }}
    {% endif %}
    {% if contents %}
      {{ contents | safe }}
    {% endif %}
  </div><!--/row-->
</div><!--/container-->


{% endblock %}
